altair==4.1.0
amqp==5.0.2
aniso8601==8.0.0
asgiref==3.2.10
astor==0.8.1
astroid==2.3.3
astropy==4.0.1.post1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.1
awscli==1.18.41
backcall==0.1.0
base58==2.0.0
bcrypt==3.1.7
billiard==3.6.3.0
bleach==3.1.5
blinker==1.4
boto3==1.12.41
botocore==1.15.41
bson==0.5.9
cachetools==4.1.0
celery==5.0.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
click-didyoumean==0.0.3
click-repl==0.1.6
colorama==0.4.3
confuse==1.3.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dependency-injector==4.5.1
Django==3.1
dnspython==1.16.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
env==0.1.0
Flask==1.1.2
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
h2==2.6.2
hpack==3.0.0
htmlmin==0.1.12
hyperframe==3.2.0
idna==2.9
ImageHash==4.1.0
iniconfig==1.0.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
kombu==5.0.2
lazy-object-proxy==1.4.3
llvmlite==0.33.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
more-itertools==8.4.0
mypkg==1.0.0
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
notebook==6.0.3
numba==0.50.1
numpy==1.18.2
opencv-python==4.3.0.36
packaging==20.3
pandas==1.0.3
pandas-profiling==2.8.0
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
phik==0.10.0
pickleshare==0.7.5
pika==1.1.0
Pillow==7.1.2
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.12.4
py==1.9.0
pyarrow==1.0.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.20
pydeck==0.3.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.0.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-interface==1.6.0
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
streamlit==0.64.0
streamlit-pandas-profiling==0.0.4
tangled-up-in-unicode==0.0.6
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
tqdm==4.48.2
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.9
uuid==1.30
validators==0.14.3
vine==5.0.0
visions==0.4.4
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0